@import url(reseter.css);


.attribution {
    font-size: 11px;
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



.action{
    color: var(--Dark-grayish-blue);
}

span.group {
    color: var(--blue);
}

span.name {
    font-weight: 800;
    color: var(--Very-dark-blue);
}

span.action 
{
    
    font-weight: 800;
}

.time 
{
    font-size: 0.90rem;
    color: var(--Grayish-blue);
}

header.notifications {
    display: flex;

    justify-content: space-between;
    padding-inline: 1rem;
}

header.notifications div {
    display: flex;
    align-items: center;

    gap: 1.5rem;

    font-size: 1.25rem;
}

header.notifications .quantity {
    background-color: var(--blue);
    color: white;
    
    padding-inline: 0.5rem;
    border-radius: 5px;

}

#notifications {
    width: 100%;

}

.unread {
    background-color: var(--Light-grayish-blue-2);
}

.notification 
{
    padding: 0.25rem;
    margin: 1rem;

}

.notification header {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}
.unread.notification header ::after{
    position: relative;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red);
    align-self:center;

    top: -25%;
    transform: translateY(-50%);

    margin-left: 0.25rem;
    
}

.notification header img {
    clear: right;
}
.comment{
    margin-left: calc(48px + 1rem);

    padding: 0.5rem;

    border: 1px solid var(--Dark-grayish-blue);
    border-radius: 4px;
    box-shadow: 0px 0px 6px var(--Light-grayish-blue-2);
}

